.modelsGrid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, 25%);
    grid-gap: 40px;
    padding: 40px;
    margin: 0;
    justify-content: center;   
}

@media(max-width: 560px){
    .modelsGrid {
        grid-auto-flow: column;
        grid-auto-columns: 90%;
        grid-template-columns: 90%;
        overflow-x: auto;
        justify-content: inherit;
    }
}