.modelsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1000px);
    gap: 40px;
    padding: 40px;
    margin: 0;
    justify-content: center;
}

@media(max-width: 560px){
    .modelsGrid {
        grid-template-columns: 100%;
    }
}